.portfolioPage {
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: relative;
}

/*INDIVIDUAL CONTENT*/
.individualPortfolioPage {
    width: 100vw;
    height: 100vh;
}

.individualPortfolioPage iframe {
    position: absolute;
    margin-top: 60vh;
    z-index: 1000;
    min-height: 100vh;
}

/*INDIVIDUAL IMAGE*/
.individualImage {
    position: absolute;
    padding: 10vh 20vh;
}

.portfolioLink {
    bottom: 2vh;
    right: 1vh;
    font-size: 25vh;
    position: absolute;
    color: #fff;
}

.section-class-name {
    position: relative;
}

.projectTitle, .featuredTitle {
    position: absolute;
    top: 50vh;
    left: 12vw;
    color: #fff;
    z-index: 997;
    font-size: 7vh;
    font-weight: 700;
    text-transform: uppercase;
    width: 50vw;
    text-shadow: -2px 1px 1px #000;
}

.projectTitle:hover, .featuredTitle:hover {
    opacity: .9;
    text-shadow: 0 0 5px rgba(191,191,127, 0.8);
}
