.ui-project {
    position: absolute;
    top:0;bottom: 0;left: 0;right: 0;
    z-index: 2000;
}

.portfolioPage {
    height: 100vh;
    width: 100vw;
    background: transparent;
    position: relative;
}

.projectInd {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.viewProject {
    position: absolute;
    bottom: 2vh;
    right: 3vw;
    text-shadow: -2px 1px 0px rgba(38,38,38, .1);
    font-size: 3.5em;
}

.projectTitle, .featuredTitle {
    position: absolute;
    top: 50vh;
    left: 12vw;
    color: #fff;
    z-index: 997;
    font-size: 7vh;
    font-weight: 700;
    text-transform: uppercase;
    width: 50vw;
    text-shadow: -2px 1px 1px #000;
}

.projectTitle:hover, .featuredTitle:hover {
    opacity: .9;
    text-shadow: 0 0 5px rgba(191,191,127, 0.8);
}

/*INDIVIDUAL CONTENT*/
.individualPortfolioPage {
    width: 100vw;
    height: 100vh;
}

.individualPortfolioPage iframe {
    position: absolute;
    margin-top: 60vh;
    z-index: 1000;
    height: 100%;
    border-color: transparent;
}

/*INDIVIDUAL IMAGE*/
.individualImage {
    position: absolute;
    padding: 10vh 20vh;
}

.portfolioLink {
    bottom: 2vh;
    right: 1vh;
    font-size: 25vh;
    position: absolute;
    color: #fff;
}
